node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.test
.env.production
.env.local
dist
.DS_Store
.vscode
.idea
*.log
*.tmp
*.swp
.dockerignore
Dockerfile
docker-compose*.yml
